.form1{
    width: 94%;
}
.hero{
    margin-top: -80px;
    line-height: 1;
}
.text-clear{
    margin-left: 55%;


}
.flex-shrink-0{
    margin-top: -50px;
}
.img-wt{
    height: 50px;
    width: 65px;
    margin-top: 15px;
}
.ribbon2{
    height: 25px;
    width: 15px; 
    margin-left: 35%; 
}
.cardimg{
    height: auto;
    width: 30%;  
}
.more{
    margin-top: -140px;
    margin-left: 20%;
}
.Linked{
    color: blue;
    font-weight: bold;
}
.linke2{
    height: auto;
    width: 80px;
} 
.second-card{
    margin-top: -220px;
    width:55%;
}
.sidebar-end{
    margin-left: -222px;
}
.hero-content{
    margin-bottom: -169px;
    margin-left: -20px;
}
.design-btn{
    margin-left: -52px;
}
.colum-card{
    margin-top: -142px;
}
.groups{
    margin-left: -88px;
    margin-top: -80px;
}
.fit-content{
    height: fit-content;

}
.upper{
    margin-top: -305px;
}
.card-two{
    margin-right: 102px; 
}
.dolar-card{
    line-height: 0.6;
}
.month-card{
    line-height: .1;
}
.income{
    line-height: 3.1;
}
.admission{
    margin-left: -90px;
}
.admission1{
    margin-left: -80px;
    height: 346px;
}
.pie{
    margin-top: -672px;
}
.contact{
    margin-top: -672px;
}
.income1{
    line-height: 3.1;
}
