
.Show-more{
    color:rgba(137, 43, 226, 0.486);

}
.Show-more:hover{
    color:rgba(137, 43, 226, 0.836);
    text-decoration: underline;
}
.card-img{
width: 60px;
height: auto;

}
.both:hover{
    background-color:rgba(126, 180, 182, 0.24);
}
.both{
    background-color: rgba(173, 216, 230, 0.137);
}
.x:hover{
    color: rgba(0, 0, 255, 0.541);
    text-decoration: underline;
}
.btn1{
    color: rgba(0, 0, 255, 0.562);
    font-weight: bold;
    margin-bottom: -28px;
    margin-top: -23px;
}
.btn1:hover{
    background-color: grey;
}
.icon1{
    margin-top: 11px;
    margin-left: 26px;
}
.icon2{

}
.table-card{
    margin-left: -32px;
    width: 440px;
}
.second-card{
    margin-top: -836px;
}

@media (max-width: 700px) {
    .drawer-content{
        flex-direction: column;
        /* background-color: aqua; */
    }
    .contact{
        margin-top: 0;
        margin-left:15% ;
        width:70%;

    }
    .pie{
        margin-top:40%;
        margin-left: 15%;
        width: 70%;
    }

    .second-card{
        margin-top: 10%;
        width: 90%;
        margin-left: 20px;
    }
    .transsation{
        margin-left: 100px;
    }
    .income{
        margin-left: 100px;   
    }
    .box1{
        margin-left: 100px;   
    }
    .table-card{
        margin-left: 12px;   
    }
    .lineChart{
        width:50%;
        height: auto;
        margin-left:-40px ;
    }
    .second-card{
        width:100%;
        margin-left:60px;
        margin-top: 12px;
    }
    .colum-card{
        margin-top:-30%;
        width:80%;
        margin-left: 10%;   
    }
    .dashboard{
        visibility: hidden;
    }
    .search{
        margin-left:-190px;
     
    }
    .input-field{

    }
    .navbar-end{
        visibility: hidden;
    }

    
   
  }